parameters:
    level: 7
    bootstrapFiles:
        - tests/bootstrap_phpstan.php
    paths:
        - src
        - tests
    excludePaths:
        - tests/Helpers/LegacyLogger.php

    ignoreErrors:
        # Ignore some irrelevant errors in test files
        - '~Method Composer\\XdebugHandler\\Tests\\[^:]+::test[^(]+\(\) has no return type specified.~'
        - '~Method Composer\\XdebugHandler\\Tests\\[^:]+::\w+?Provider\(\) has no return type specified.~'
