includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 9
    bootstrapFiles:
        - tests/bootstrap_phpstan.php
    paths:
        - src
        - tests
    ignoreErrors:
        # strict-rules errors
        - message: "#^Call to function is_string\\(\\) with string will always evaluate to true.#"
          count: 1
          path: src/XdebugHandler.php
