includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 9
    bootstrapFiles:
        - tests/bootstrap_phpstan.php
    paths:
        - src
        - tests
