name: Continuous Integration

on:
  push:
    paths-ignore: ["**.md"]
  pull_request:
    paths-ignore: ["**.md"]

permissions:
  contents: read

jobs:
  tests:
    name: CI

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      matrix:
        php-version:
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
        os: [ubuntu-latest]
        experimental: [false]
        include:
          - php-version: "7.2"
            os: windows-latest
            experimental: false
          - php-version: "8.4"
            os: windows-latest
            experimental: false
          - php-version: "8.5"
            os: ubuntu-latest
            experimental: true

    steps:
      - uses: actions/checkout@v5

      - uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: none

      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: highest

      - name: Run tests
        if: ${{ !matrix.experimental }}
        run: vendor/bin/phpunit

      # Show deprecations on latest PHP
      - name: Run tests (experimental)
        if: ${{ matrix.experimental }}
        run: vendor/bin/phpunit --display-deprecations
