name: Functional Tests

on:
  push:
    paths-ignore: ["**.md"]
  pull_request:
    paths-ignore: ["**.md"]

permissions:
  contents: read

jobs:
  tests:
    name: Functional Tests

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      matrix:
        php-version:
          - "7.2"
          - "8.4"
        os: [ubuntu-latest]
        experimental: [false]
        include:
          - php-version: "7.2"
            os: windows-latest
            experimental: false
          - php-version: "8.4"
            os: windows-latest
            experimental: false
          - php-version: "8.5"
            os: ubuntu-latest
            experimental: true

    steps:
      - uses: actions/checkout@v5

      - uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: xdebug

      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: highest

      - name: Run tests
        if: ${{ !matrix.experimental }}
        # Include --fail-on-skipped when min PHP is > 7.2.5
        run: vendor/bin/phpunit --group functional

      # Show deprecations on latest PHP
      - name: Run tests (experimental)
        if: ${{ matrix.experimental }}
        run: vendor/bin/phpunit --group functional --fail-on-skipped --display-deprecations
