name: PHPStan

on:
  push:
    paths-ignore: ["**.md"]
  pull_request:
    paths-ignore: ["**.md"]

permissions:
  contents: read

jobs:
  tests:
    name: PHPStan

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version:
          - "8.1"

    steps:
      - uses: actions/checkout@v5

      - uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: none

      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: highest

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse
